// Colour variables
$primary-colour: rgb(49, 49, 59);
$secondary-colour: rgb(199, 98, 98);
$third-colour: rgb(108, 108, 200);
$fourth-colour: rgb(36, 36, 36);


/*$form-check-input-checked-bg-color:rgb(199, 98, 98);
$form-check-input-checked-color: rgb(108, 108, 200);

$form-check-input-indeterminate-color:   rgb(199, 98, 98);     
$form-check-input-indeterminate-bg-color:      rgb(199, 98, 98);
$form-check-input-indeterminate-border-color:rgb(199, 98, 98);

$form-check-input-bg:  rgb(199, 98, 98);*/