@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Login page
body {
    background-color: $primary-colour;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link, .navbar-brand, h2 {
    color: $secondary-colour;
}

.container {
    color: $third-colour;
}

.navbar-brand:hover {
    text-decoration: none;
    color: $secondary-colour;
}

.btn {
    background-color: $secondary-colour;
    color: white;
   
}

.btn:hover {
    background-color: $secondary-colour;
    color: white;
    box-shadow: 0 2px 10px $secondary-colour;
}

.nav-link:hover {
    color: $third-colour;
}


// Profile Page
.profile {
    color:  white;
}

.posts {
    background-color: $fourth-colour;
    
}

.card {
    background-color: $third-colour;
    color: white;
    border-radius: 0;
}

.followers {
    background-color: $third-colour;
    color: white;
}

.post-title {
    background-color: $secondary-colour;
    color: white;
}


// Feed page
h5 {
    color: $secondary-colour;
}

.nav-pills > li.active > a{
    color: white;
    background-color: $secondary-colour;
}


